*{
    padding: 0;
    margin: 0;
}


.navbar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
    font-size: xx-large;
    
    
    
}
.iconbar ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
    gap: 25px;
    
    
    
}
.iconbar a{
    text-decoration: none;
    color: black;

}
.buttonbar button{
   background-color: yellow;
   
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}
.remove{  
    position: absolute;
    color: aliceblue;
    background-color: aliceblue;
    height: -100px;
}
.h1{
    text-align: center;
    color:rgb(171, 67, 202);
}

.div1-2{
    position: absolute;
     background-color: white;
      border-radius: 10px;
        margin-top: -120px;
         border: 5px solid black;
          margin-left: 80px;
    margin-right: 100px;
    height: 200px;
}
.div1-2 h2{
    font-size: x-large;
    padding-top: 9px;
}
.div1{
    
    display: flex;
    justify-content: space-between;
    color: blue;
    gap: 10px;
   
}
.div3{
    padding: 5pc;
}
.div4{
    padding: 5pc;
}
.div5{
    padding: 5pc;  
}
.div11{
    text-align: center;
    align-items: center;
    margin-top: 10pc;
    margin-bottom: 15px;

}
.div12{ 
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.div20{
    display: flex;
    justify-content:space-around;
    background-color:blueviolet;
    align-items: center;
    color: white;
}
.div22 h2{
    font-size: 35px;

}
.div22 p{
    font-size: 20px;

}
